.gpt3__cta {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  background: var(--gradient-bar);
  border-radius: 12px;
}

.gpt3__cta-content h1 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 45px;
}
.gpt3__cta-content p {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.gpt3__cta-button {
  display: flex;
  flex-direction: row;
}

.gpt3__cta-button button {
  background: #040c18;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.gpt3__cta-button button:hover {
  background: #ffff;
  color: #040c18;
}

.gpt3__cta-button button:active {
  background: #040c18;
  color: #fff;
}
